.borderless.menu.top {
  box-shadow: none;
  border: none;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #F5F5F7;
}

.borderless.menu.middle {
  box-shadow:none;
  border: none;
}

.grid.footer {
  padding-top: 50px;
  background-color: #292929;
}

.borderless.vertical.inverted.menu {
  background-color: #292929;
}

.borderless.menu.bottom {
  box-shadow: none;
  border: none;
  background-color: #292929;
}

.centered.grid.container.copyright {
  padding-top: 50px;
  padding-bottom: 50px;
}
